# Ignore node_modules in root, backend, and frontend
node_modules/

# Ignore .env files (and variants) in all folders
.env*

# Ignore system files
.DS_Store

# Ignore build output folders (common in both front/back ends)
dist/
build/